/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/

:root {
    --alpha: rgba(0, 0, 0, 0);
    --dark80: #0000003b;
    --bleufoncer: #14213D;
}


@font-face {
    font-family: 'fontName';
    src: url() format('truetype');
}

body {
    overflow-x: hidden;
    background-color: var(--bs-black);
}

h1 {
    font-family: 'Heavitas';
    font-size: 45px; font-weight: 900; color: var(--bs-white);
}

@media screen and (max-width: 1140px) {
    section .card h1 {
        font-family: 'Heavitas';
        font-size: 28px;
    }
    p {
        font-family: 'LouisGeorgeCafe_bold';
        font-size: 16px;
    }
}

p {
    font-family: 'LouisGeorgeCafe_bold';
    font-size: 20px;
}

.separateur {
    height: 5vmin;
}

/*---------------------------------------------------------- 
# Section Navbar 
----------------------------------------------------------*/ 

.navbar {
    background-color: var(--bs-black);
    color: var(--bs-blanc);
    font-size: 16px;
}

.barre-color-navbar {
    height: 5em;
    width: 100%;
    background-image: linear-gradient(to right, var(--alpha), var(--bs-primary), var(--alpha));
}

.nav-link {
    font-family: 'LouisGeorgeCafe_bold';
}

@media screen and (max-width: 576px) {
    .logo {
        width: 75%;
    }
}

/*---------------------------------------------------------- 
# Section Fonctionnalités  
----------------------------------------------------------*/ 

.section-feature h1 {
    text-shadow: 3px 3px var(--bs-primary);
}

.back-section-feature {
    background-color: var(--bs-secondary);
    background-image: linear-gradient(to bottom, var(--bs-black) 10%, var(--bs-secondary));
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-blend-mode: luminosity;
}

.section-feature {
    color: var(--bs-white);
}

.back-section-feature .card-body {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    min-height: 450px;
}

.back-section-feature .card-body h1 {
    font-size: 30px;
}

.back-section-feature .card-body h1 i {
    text-shadow: 0 0 5px var(--bs-white);
    font-size: 2.6rem;
}

.back-section-feature .icon {
    z-index: 0;
    right: 10px;
    width: 5em;
    height: 5em;
    background-color: var(--bs-secondary);
    border-radius: 50px;
}

.back-section-feature .card-body em {
    font-style: normal;
}

/*
.back-section-feature .card-body h1 em:hover {
    color: var(--bs-secondary);
    transition: 0.2s linear color;
}

.back-section-feature .card-body h1 em i:hover {
    color: var(--bs-primary);
    text-shadow: 0 0 5px var(--bs-primary);
    transition: 0.2s linear color;
}
*/

.back-section-feature .card-body .d-flex {
    height: 100%;
    width: 100%;
}

.back-section-feature .card-body hr {
    width: 100%;
    border-radius: 25px;
    border: 5px solid var(--bs-white);
}

.back-section-feature .card-body p, .back-section-feature .text-descritpion-section-feature p {
    line-height: 1.2em;
    color: var(--bs-white);
}

@media screen and (max-width: 1400px) {
    .back-section-feature .card-body {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        min-height: 550px;
    }
}

@media screen and (max-width: 1200px) {
    .back-section-feature .card-body {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        min-height: 700px;
    }
}

@media screen and (max-width: 992px) {
    .back-section-feature .card-body {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        min-height: 600px;
    }
}

@media screen and (max-width: 768px) {
    .back-section-feature .card-body {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        min-height: 300px;
    }
}

/*---------------------------------------------------------- 
# Section Voir plus 
----------------------------------------------------------*/ 

.back-projets {
    background-color: var(--bs-secondary);
    background-image: linear-gradient(to bottom, var(--bs-secondary), var(--bs-black) 25%, var(--alpha));
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-blend-mode: hard-light;
    min-height: 100vh;
}

.projets h1 {
    color: var(--bs-white);
    text-shadow: 3px 3px var(--bs-primary);
}

.projets .swiper-wrapper {
    text-align: center;
    color: var(--bs-white);
}

.projets .swiper {
    height: 80vh;
    border-radius: 10px;
}

.projets .swiper-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 50px;
    border: 5px solid var(--bs-primary);
}

.projets .swiper-slide {
    opacity: 0.5;
}

.projets .swiper-slide-active {
    opacity: 1;
}

.projets .btn-next-back {
    color: var(--bs-secondary);
    width: 25px;
    height: 25px;
    opacity: 0.75;
    transition: linear 0.5s transform;
}

.projets .swiper-button-prev:active {
    transform: translate(-5px) rotate(-20deg) scale(1.1);
}

.projets .swiper-button-next:active {
    transform: translate(5px) rotate(20deg) scale(1.1);
}

.projets .btn-next-back:hover {
    opacity: 1;
}

.projets .btn-next-back:active{
    opacity: 0.90;
}

.projets .btn-next-back::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    background-color: var(--bs-primary);
    border-radius: 50px;
    border: 1px solid var(--bs-secondary);
}

/*---------------------------------------------------------- 
# Section Footer 
----------------------------------------------------------*/

footer {
    max-height: 16rem;
    background-color: var(--bs-black);
}

.barre-color-footer {
    height: 0.5em;
    width: 100%;
    background-image: linear-gradient(to right, var(--alpha), var(--bs-primary), var(--alpha));
    background-color: var(--bs-black);
}

p.lien-git {
    color: var(--bs-white);
    font-family: 'LouisGeorgeCafe_bold';
    font-size: 16px;
}

footer .container .row div:nth-child(3) a {
    color: var(--bs-white);
    font-family: 'LouisGeorgeCafe_bold';
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    transition: 0.2s ease-in color;
}

footer .container .row div:nth-child(3) a:hover {
    color: var(--bs-primary);
    text-shadow: 0 0 3px var(--bs-primary);
}